USE [master]
GO
/****** Object:  Database [QuanLyVatTu]    Script Date: 1/24/2022 9:52:00 PM ******/
CREATE DATABASE [QuanLyVatTu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyVatTu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyVatTu.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyVatTu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyVatTu_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyVatTu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyVatTu]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 1/24/2022 9:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SoHD] [nvarchar](20) NOT NULL,
	[MaVT] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[Vat] [float] NOT NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/24/2022 9:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [nvarchar](20) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/24/2022 9:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Phai] [nvarchar](5) NOT NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 1/24/2022 9:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserName] [nvarchar](10) NOT NULL,
	[PASS] [nvarchar](20) NOT NULL,
	[QUYEN] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 1/24/2022 9:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MaVT] [nvarchar](20) NOT NULL,
	[TenVT] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VT] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHOADON] ([SoHD], [MaVT], [SoLuong], [DonGia], [Vat]) VALUES (N'2099', N'1003', 1, 10, 1)
INSERT [dbo].[CTHOADON] ([SoHD], [MaVT], [SoLuong], [DonGia], [Vat]) VALUES (N'2148117383', N'1001', 9, 10000, 11)
INSERT [dbo].[CTHOADON] ([SoHD], [MaVT], [SoLuong], [DonGia], [Vat]) VALUES (N'2148117383', N'1003', 4, 10000, 11)
INSERT [dbo].[HOADON] ([SoHD], [NgayLap], [Loai], [MaNV]) VALUES (N'2099', CAST(N'2021-01-06' AS Date), N'N', N'2000')
INSERT [dbo].[HOADON] ([SoHD], [NgayLap], [Loai], [MaNV]) VALUES (N'2148117383', CAST(N'2022-01-24' AS Date), N'X', N'1')
INSERT [dbo].[HOADON] ([SoHD], [NgayLap], [Loai], [MaNV]) VALUES (N'2148505589', CAST(N'2022-01-24' AS Date), N'N', N'1')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [TrangThai]) VALUES (N'1', N'D', N'Ad', N'Nam', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [TrangThai]) VALUES (N'2000', N'Nguyễn Văn', N'An', N'Nam', 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [Phai], [TrangThai]) VALUES (N'2001', N'Hoàng Đức', N'Tuấn', N'Nam', 0)
INSERT [dbo].[USERS] ([UserName], [PASS], [QUYEN]) VALUES (N'1', N'1', 1)
INSERT [dbo].[USERS] ([UserName], [PASS], [QUYEN]) VALUES (N'2000', N'1', 0)
INSERT [dbo].[USERS] ([UserName], [PASS], [QUYEN]) VALUES (N'2001', N'1', 1)
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [SoLuongTon], [DonViTinh]) VALUES (N'1', N'T', 1, N'T')
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [SoLuongTon], [DonViTinh]) VALUES (N'1000', N'Xi Măng', 10, N'Bao')
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [SoLuongTon], [DonViTinh]) VALUES (N'1001', N'Gạch', 43603, N'Viên')
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HOADON] ([SoHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_VATTU] FOREIGN KEY([MaVT])
REFERENCES [dbo].[VATTU] ([MaVT])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_VATTU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
USE [master]
GO
